 {% extends 'base.html' %}


 {% block content %}

 <div class="row">
     <div class="col-sm-6 col-sm-offset-3">
         <h1>About Us</h1>
         <p>Hello guys this is about shit owh shit yes stuck in my ass. Hello guys this is about shit owh shit yes
             stuck in my ass. Hello guys this is about shit owh shit yes stuck in my ass.</p>
         <p>Hello guys this is about shit owh shit yes stuck in my ass.</p>
         <p>Hello guys this is about shit owh shit yes stuck in my ass. Hello guys this is about shit owh shit yes
             stuck in my ass. Hello guys this is about shit owh shit yes stuck in my ass.</p>
         <p>Hello guys this is about shit owh shit yes stuck in my ass.</p>
         <p>Hello guys this is about shit owh shit yes stuck in my ass. Hello guys this is about shit owh shit yes
             stuck in my ass. Hello guys this is about shit owh shit yes stuck in my ass.</p>
     </div>
 </div>


 {% endblock %}